body {
    background-color: #E9ECEF;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.pt-5 {
    padding-top: 130px !important;
}

.my-4 {
    opacity: 15%;
}

ul {
    list-style-position: inside;
}

.mt-5 {
    margin-top: 70px !important;
}